streamlit
openai
langchain
faiss-cpu
python-dotenv
semantic-text-splitter
sentence-transformers
rank_bm25
unstructured[pdf]
langchain
faiss-cpu
huggingface-hub
docx2txt







PyPDF2>=3.0.0
semantic-text-splitter>=0.5.0
